Screen {
    layout: grid;
    grid-size: 2 8;
    grid-columns: 1fr 8fr;
}

.box {
    height: 100%;
    width: 1fr;
    border: solid green;

}

.box:focus {
    outline: heavy;
}

OptionList {
    layout: vertical;
    width: 1fr;
    height: 100%;
    border: none;
}

HeaderTitle {
   content-align: left top;
}

#vulnerability-view {
   row-span: 8;
}

SearchModal {
   align: center middle;
}

SearchModal > Container > Input.box {
   width: 100%;
   height: 3;
}
